{% extends 'main/basic.html' %}
{% load static %}
{% block title %}
Stock Tracker
{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Stock Tracker</h1>
        <p class="lead">Simple, yet powerful app which allows you to manage your stock portfolio !</p>
        <hr class="my-4">
        <p>It uses API integration for getting real time stock information on the fly.</p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="stockpicker/" role="button">Let's get started</a>
        </p>
    </div>
</div>
{% endblock %}
{% block css %}
<style>
</style>
{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}